---
// Standard File!!
type LatestPostSummariesQueryResult = Omit<Post, 'updatedAt' | 'body'>[];

import Layout from '../layouts/RootLayout.astro';
import PostSummariesGrid from '../components/PostSummariesGrid.astro';

import { sanityClient } from 'sanity:client';

const latestPostSummaries = await sanityClient.fetch<LatestPostSummariesQueryResult>(`
	*[_type == "post"] {
		title,
		"slug": slug.current,
		"postedAt": _createdAt,
		tags,
		shortDescription,
		thumbnail {
			alt,
			asset -> {
				url,
				metadata {
					blurHash,
					"width": dimensions.width,
					"height": dimensions.height
				}
      }
		}
	}[0..4]
`);
// array::unique(*[_a == 'f'].tags[]) | order(_ desc)
---

<!-- Home page content -->
<Layout title="Kynson Szetau | Blog" shortDescription="Kynson Szetau's Personal Blog">
	<section id="hero">
		<p id="shell" class="font-mono small-text">
			<span id="shell-prompt">~/blog#</span>
			./hello_world
		</p>
		<h1>Hello World!</h1>
		<p>Welcome to my blog, where I share my personal development journey and the lessons I've learned along the way. I hope that as you read my posts, you'll not only enjoy the content but also discover something new, just as I have!</p>
		<p>To delve deeper into my projects, I invite you to visit my main page at <a href="https://kynsonszetau.com">kynsonszetau.com</a>. Happy exploring!</p>
	</section>
	<section id="latest-posts">
		<header id="latest-posts-header">
			<h1>Latest Posts</h1>
			<a href="/posts">See all posts &rarr;</a>
		</header>
		<PostSummariesGrid postSummaries={latestPostSummaries}></PostSummariesGrid>
	</section>
</Layout>

<!-- Home page styles -->
<style>
	section {
		padding-bottom: 2rem;
	}

	#latest-posts-header {
		margin-bottom: 1.25rem;
	}

	#shell::after {
		content: '';
		position: absolute;
		display: inline-block;
		height: 1rem;
		width: 2px;
		margin-left: 2px;
		background-color: var(--text-color);
		animation: 1s steps(2, jump-none) cursor-blink infinite;
	}

	#shell-prompt {
		color: var(--accent-color);
		font-weight: 500;
	}

	@keyframes cursor-blink {
		from {
			opacity: 1;
		}

		to {
			opacity: 0;
		}
	}

	@media (prefers-reduced-motion) {
		#shell::after {
			animation: none;
		}
	}

	@media (min-width: 768px) {
		#latest-posts-header {
			display: flex;
			justify-content: space-between;
		}

		#latest-posts-header > a {
			margin: auto 0;
		}
	}
</style>