---
// Standard File!!
type LatestPostsQueryResult = Omit<Post, 'updatedAt' | 'body'>[];

import Layout from '../layouts/RootLayout.astro';
import PostSummary from '../components/PostSummary.astro';

import { sanityClient } from 'sanity:client';

const latestPosts = await sanityClient.fetch<LatestPostsQueryResult>(`
	*[_type == "post"] {
		title,
		"slug": slug.current,
		"postedAt": _createdAt,
		tags,
		shortDescription,
		thumbnail {
			alt,
			asset -> {
				url,
				metadata {
					blurHash,
					"width": dimensions.width,
					"height": dimensions.height
				}
      }
		}
	}[0..4]
`);
// array::unique(*[_a == 'f'].tags[]) | order(_ desc)
---

<!-- Home page content -->
<Layout title="Welcome to Astro.">
	<!-- <T></T> -->
	<section id="hero">
		<p id="shell" class="font-mono small-text">
			<span id="shell-prompt">~/blog#</span>
			./hello_world
		</p>
		<h1>Hello World!</h1>
		<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur quam quae, sequi ab provident deserunt eos deleniti eius enim fugiat consectetur beatae nulla, officia facere molestiae nisi odit dolorum quas.</p>
	</section>
	<section id="latest-posts">
		<h1>Latest Posts</h1>
		<div id="posts-container">
			{
				latestPosts.map((post) => {
					// The heroImageSizes attribute is an approximate value
					return <PostSummary {...post} thumbnailSizes="calc(100vw / 320px)"></PostSummary>
				})
			}
		</div>
	</section>
</Layout>

<!-- Home page styles -->
<style>
	section {
		padding-bottom: 2rem;
	}

	#shell::after {
		content: '';
		position: absolute;
		display: inline-block;
		height: 1rem;
		width: 2px;
		margin-left: 2px;
		background-color: var(--text-color);
		animation: 1s steps(2, jump-none) cursor-blink infinite;
	}

	#shell-prompt {
		color: var(--accent-color);
		font-weight: 500;
	}

	#posts-container {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(min(320px, 100%), 1fr));
		gap: 4%;
	}

	@keyframes cursor-blink {
		from {
			opacity: 1;
		}

		to {
			opacity: 0;
		}
	}

	@media (prefers-reduced-motion) {
		#shell::after {
			animation: none;
		}
	}
</style>