<!-- PortableTextSpoilerMark content -->
<!-- Newlines are intentionally removed as this will create a space in the rendered HTML -->
<!-- TODO: This implementation is not accessible, switch to https://github.com/WebWeWant/webwewant.fyi/issues/615#issuecomment-1518090364 if it is implemented -->
<span class="spoiler"><slot></slot></span>